.backgroundContainer {
    background-image: url(../images/pattern-background-desktop.svg);
    background-color: rgb(214 225 255 / 39%);
    background-repeat: no-repeat;
    margin: 40px 80px;
    padding: 80px;
    max-width: 1440px;
}

@media(max-width: 767px) {
    .backgroundContainer {
        background-image: url(../images/pattern-background-mobile.svg);
        padding: 1px;
        margin: 0 auto;
        background-repeat: repeat-x;
    }
}