.summaryContainer {
    margin: 20px auto;
    background-image: url(../images/illustration-hero.svg);
    background-repeat: no-repeat;
    background-color: white;
    text-align: center;
    max-width: 420px;
    padding: 20px 5px;
    border-radius: 20px;
    font-family: 'Red Hat Display', sans-serif;
}

.summaryText {
    margin: 220px 0 0 0;
}
.summaryText__grey {
    color: #808080d4;
}

.productFlexContainer {
    padding: 20px;
    background-color: #EFEFF0;
    margin: 10px 40px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.flexItem {
    margin: 0 5px;
}

.flexItem__Right {
    margin-left: auto;
}

.paymentContainer {
    background-color: #1e1fcd;
    margin: 30px 40px;
    border-radius: 10px;
    color: white;
    padding: 15px;
}